{% extends 'post/layout.html' %}
{% block content %}
    <div class="card w-50" >
        <div class="card-body bg-dark">
          <h5 class="card-title">BY </h5>
          <div class="p-5" style="border: 1px solid palevioletred">
          <p class="card-text" style="color:palevioletred">1위</p>
          <p class="card-text" style="color:white">맞은개수:</p>
          <hr style="1px solid white">
          <p class="card-text" style="color:palevioletred">2위</p>
          <p class="card-text" style="color:white">맞은개수:</p>
          <hr style="1px solid white">
        </div>
        <div class="pt-2" style="text-align:center">
          <a href="#" class="btn btn-outline-danger">퀴즈 목록</a>
          </div>
        </div>
      </div>
{% endblock %}