{% extends 'post/layout.html' %}
{% block content %}
    <h4>퀴즈 목록</h4>
    <p>현재 플레이어의 등록된 퀴즈를 보여주는 페이지입니다.</p>
    <p>현재 사용자: </p>
    <hr style="border: 1px solid white;">

    <div class="d-flex justify-content-around align-items-center">
        <p>현재 사용자:</p>
        {#사용자가 로그인 되어있으면 퀴즈 삭제 보여주고#}
        {% if request.user.is_authenticated %}
            <ul>
                {% for user in users %}
                    제목: {{ user.quizs.title }}
                    출제자: {{ user.first_name }}
                {% endfor %}
                <div>
                    <button type="button" class="btn btn-light"><a href="">퀴즈 삭제</a></button>
                </div>
                <div>
                    <button type="button" class="btn btn-light"><a href="">확인하기/button></a>
                </div>
            </ul>
        {% else %}
            <ul>
                {% for user in users %}
                    제목: {{ user.quizs.title }}
                    출제자: {{ user.name }}
                {% endfor %}
                <div>
                    <button type="button" class="btn btn-light"><a href="">풀기</a></button>
                </div>
                <div>
                    <button type="button" class="btn btn-light"><a href="">확인하기</a></button>
                </div>
            </ul>
        {% endif %}


    </div>
{% endblock %}