{% extends 'post/layout.html' %}
{% block content %}
    <div class="m-4" style='font-size:100px; text-align: center;'>&#128584;</div>
    <div class="title mb-3" style="text-align: center;">
        <h2>나를 가장 잘 아는 피로그래머는 누구일까요?!</h2>
        <div><button type="button" class="btn btn-outline-danger mt-4" style="color: palevioletred;">퀴즈 내러 가기</button></div>
        <div><button type="button" class="btn btn-outline-danger mt-4" style="color: palevioletred;">퀴즈 맞추러 가기</button></div>
    </div>
</div>
{% endblock %}